<!DOCTYPE html>
<html id="shipsked" class=" home-controller home-controller-index-action has-sticky-footer js flexbox backgroundsize boxshadow cssanimations csstransforms csstransforms3d csstransitions generatedcontent hidpi no-appearance no-useragent-ios"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

<title>Shipsked - Ship Schedules in Philippines</title>
<link rel="shortcut icon" href="{{asset('favicon.ico')}}">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" media="all" href="{{ asset('shipskednew_files/commons.css') }}">
<link rel="stylesheet" media="all" href="{{ asset('shipskednew_files/application.css') }}">
<link rel="stylesheet" media="all" href="{{ asset('css/main.css') }}">

<link rel="stylesheet" media="all" href="{{ asset('shipskednew_files/main-design.css') }}">

{% block css %}{% endblock %}

</head>

<body class="rebrand-home rebrand-styles" data-turbolinks="false">
<header class="fluid-container">

<nav class="navigationbar navigationbar--hero navigationbar--marketing">
<div class="container">
<div class="navigationbar__header">
<a class="navigationbar__header__logo" href="{{ path('homepage') }}" target="_self">
<div id="shipsked-brand">
    <img width="35" style="position:absolute;" src="{{asset('images/logo.png') }}" border="0">
    <span style="padding-left:40px;letter-spacing:1px !important;color:#323141">shipsked</span>
</div>
</a>
</div>
<div class="navigationbar__toggle">
<div class="navigationbar__toggle__element">
    <i class="material-icons" style="color:#101e30;">menu</i>
</div>
<input class="navigationbar__toggle__helper" type="checkbox">
<ul class="navigationbar__navigation">
<li class="navigationbar__item "><a class="sm-ml0" target="_self" href="{{ path('about') }}">About</a></li>
<li class="navigationbar__item "><a class="sm-ml0" target="_self" href="{{ path('search') }}">Find Schedules</a></li>
<li class="navigationbar__item "><a class="sm-ml0" target="_self" href="{{ path('about') }}">For Shipping Company</a></li>
<li class="navigationbar__item "><a class="sm-ml0" target="_self" href="{{ path('promos') }}">Promos</a></li>

</ul>
</div>
</div>
</nav>

</header>

<div class="body-main">
    {% block body %}
    {% endblock %}
</div>

<div class="footer--container">
<div class="box xs-ptb1 xs-bt1" data-ui-component="sticky-footer" style="margin-top: 0px;">
<div class="container footer xs-pt1 sm-pt3">
<div class="layout">
<div class="layout__item sm-2of12"><div class="layout__item xs-plh1 sm-pl0 xs-bb0 text-medium xs-pb1"><div id="shipsked-brand"><a href="https://shipsked.com/">
    <img width="35" style="position:absolute;" src="{{asset('images/logo.png') }}" border="0">
    <br>
    <br>
    shipsked
</a></div></div></div><div class="footer--links layout__item sm-10of12"><div class="layout xs-mrlh0 xs-inset1">
<div class="layout__item xs-6of12 sm-3of12 md-3of12 xs-mt1 sm-mt0"><div class="header-line text-medium xs-mb1">Shipping Companies</div>
<ul>

{% for company in companies %}
    <li><a style="color:#fff" href="{{ path('company', {'id':company.id}) }}">{{ company.name }}</a><li>
{% endfor %}
</ul>

</div><div class="layout__item xs-6of12 sm-3of12 xs-pt1 sm-pt0"><div class="header-line text-medium xs-mb1">Learn More</div>
<ul>
<li>
<a href="{{ path('homepage') }}" title="Blog">Blog</a>
</li>
<li>
<a href="{{ path('homepage') }}" title="Resources">Resources</a>
</li>
</ul>
</div><div class="layout__item xs-6of12 sm-3of12 xs-pt1 sm-pt0"><div class="header-line text-medium xs-mb1">Company</div>
<ul>
<li>
<a href="{{ path('about') }}" title="About">About</a>
</li>
<li>
<a href="{{ path('contact') }}" title="Team">Contact</a>
</li>
<li>
<a href="{{ path('homepage') }}" title="Careers">Careers</a>
</li>
</ul>
</div><div class="layout__item xs-6of12 sm-3of12 xs-pt1 sm-pt0 sm-pl0"><div class="social xs-6of12 md-10of12 xs-float-left md-float-none"><div class="header-line text-medium xs-mb1">Social</div>
<ul>
<li>
<a href="https://www.facebook.com/Shipsked/" target="_blank">Facebook</a>
</li>
</ul><ul>
<li>
<a href="https://twitter.com/Shipsked" target="_blank">Twitter</a>
</li>
</ul><ul>
<li>
<a href="https://www.instagram.com/shipsked" target="_blank">Instagram</a>
</li>
</ul><ul>
</ul><ul>
<li>
<a href="https://www.youtube.com/channel/shipsked" target="_blank">YouTube</a>
</li>
</ul></div></div></div></div><div class="layout__item xs-eta xs-pl0 sm-pl1"><ul class="xs-zeta footer__list xs-bt0 layout--flush xs-text-center md-text-left xs-pt1 sm-pt2 xs-pbh0">
<li class="layout__item md-9of12 xs-mr0">
© 2017 Shipsked. All Rights Reserved.
</li>
</ul>
</div></div>
</div>
</div>

</div>

<script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<script>
   {% block javascript %}
   {% endblock %}
</script>

{% block javascript_file %}{% endblock %}
</body>
</html>
