<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{{asset('favicon.ico')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>shipsked {% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/album.css') }}" rel="stylesheet">
        <link href="{{ asset('css/loading.css') }}" rel="stylesheet">

        {% block css %}{% endblock %}
    </head>

    <body id="mainbody">

    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">
                        shipsked is an application aimed to help passengers to easily find ship schedules. This also help compare prices of shipping vessels. It shows vessel information needed like accomodations and estimated departure and arrival times. <a href="{{ path('about') }}">Read More..</a> 
                    </p>
                </div>
                <div class="col-sm-4 py-4">
                    <h4 class="text-white">Menu</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('about') }}" class="text-white">About Us</a></li>
                        <li><a href="{{ path('contact') }}" class="text-white">Contact Us</a></li>
                        <li><a href="{{ path('about') }}" class="text-white">Promos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="{{ path('homepage') }}" class="navbar-brand">
                <img width="35" src="{{asset('images/logo.png') }}" border="0">
                shipsked
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    {% block body %}{% endblock %}

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
                <a href="http://www.rapidssl.com" style="font-family: arial; font-size: 10px; text-decoration: none;"><img src="{{ asset('images/RapidSSL_SEAL-90x50.gif') }}" alt="SSL Certificate" title="SSL Certificate" border="0" /></a>
            </p>
            <p>This is &copy; Shipsked, best and easiest way to find ship schedules of your travels!</p>
            <p>Want to get updates? <a href="https://web.facebook.com/shipsked/">Like us on Facebook</a> or contact us <a href="{{ path('contact') }}">Email us now</a>.</p>
        </div>
    </footer>

    <div class="bg_load"></div>
        <div class="wrapper">
        <div class="inner">
            <span>s</span>
            <span>a</span>
            <span>i</span>
            <span>l</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
        </div>
    </div>

    <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script>
        {% block javascript %}
        {% endblock %}

        $(document).ready(function() {
            $(".bg_load").hide("slow");
            $(".wrapper").hide("slow");
        });
    </script>

    {% block javascript_file %}{% endblock %}


    <svg xmlns="http://www.w3.org/2000/svg" width="356" height="280" viewBox="0 0 356 280" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"/></defs><text x="0" y="18" style="font-weight:bold;font-size:18pt;font-family:Arial, Helvetica, Open Sans, sans-serif">356x280</text></svg>
    </body>
</html>
