{% extends 'base.html.twig' %}

{% block body %}
    <div style="padding:10px; padding-right: 10%;float:right;">
        <a href="javascript:void(0)" onclick="history.go(-1);">< Previous page</a>
    </div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ company.getName }}</h1>
            <h3><a href="{{ company.getWebsite }}" class="jumbotron-heading">{{ company.getWebsite }}</a></h3>
            <p class="lead text-muted">
                <strong>Address:</strong> {{ company.getAddress1 }}, {{ company.getAddress2 }}
                <br>
                <strong><i class="material-icons">phone</i> </strong> {{ company.getPhone }} &nbsp;
                <strong><i class="material-icons">mail</i> </strong> {{ company.getEmail }}
            </p>
        </div>
        <br>
        <br>
    </section>

    <div class="album">
        <div class="container">
            <h3>Vessel Trips</h3>
            <div class="row">
                {% for vessel in vessels %}
                <div class="col">
                <div class="card card-full">
                                <div class="card-header bg-dark text-white">
                                    <h5> 
                                        {{ vessel.getDepartPort.getTownCity.getTownCity }} - {{ vessel.getArrivePort.getTownCity.getTownCity }}
                                        ({{ vessel.getDepartTime }})
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="material-icons md-92">directions_boat</i>
                                            <blockquote class="blockquote mb-0">
                                                <strong><a href="{{ path('detail', { 'id':vessel.getId }) }}">{{ vessel.getName }}</a></strong>
                                                <br>
                                                <strong>DEPARTURE:</strong> {{ vessel.getDepartPort.getName }}({{ vessel.getDepartTime }})
                                                <br><strong>ARRIVAL:</strong> {{ vessel.getArrivePort.getName }}({{ vessel.getArriveTime }})
                                                <br><strong>SCHEDULE:</strong> {{ vessel.getSchedDay }}
                                            </blockquote>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                 </div>
                 </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
