{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ asset('css/modal.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
{% endblock %}

{% block javascript_file %}
    <script src="{{ asset('js/detail.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block body %}
    <div id="locationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="mapid"></div>
        </div>
    </div>

    <div style="padding:10px; padding-right: 10%;float:right;">
        <a href="javascript:void(0)" onclick="history.go(-1);">< Previous page</a>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ schedule.vessel }}</h1>
            <h2 class="jumbotron-heading"><a href="{{ path("company", { 'id':schedule.com_id }) }}">{{ schedule.company }}</a></h2>
            <p class="lead text-muted">
                <strong>Departure:</strong> <a href="javascript:void(0)" class="location" coor="{{ schedule.depCoor }}" loc="dep">{{ schedule.depCity }}</a> at  {{ schedule.departTime }}
                <br>
                <strong>Est. Arrival:</strong> <a href="javascript:void(0)" class="location" coor="{{ schedule.destCoor }}" loc="dest">{{ schedule.destCity }}</a> at  {{ schedule.arriveTime }}
                <br>
                <strong>Passenger Price Range:</strong> 
                {% set prices = schedule.passPriceRange|split('-')  %}
                &#8369;{{ prices[0]|number_format(2) }} - &#8369;{{ prices[1]|number_format(2) }}
                <br>
                <strong><i class="material-icons">phone</i></strong> {{ schedule.phone }}
            </p>
            {% if schedule.booksite %}
                <a href="{{ schedule.booksite }}" target="_blank" class="btn btn-primary btn-lg">Book Now</a>
            {% endif %}
            {% if schedule.offices %}
                <a href="{{ schedule.offices }}" target="_blank" class="btn btn-primary btn-lg">Ticket Outlets</a>
            {% endif %}
            {% if schedule.promo %}
                <a href="{{ schedule.promo }}" target="_blank" class="btn btn-primary btn-lg">View Promos</a>
            {% endif %}
        </div>
        <br>
        <br>
    </section>

    <div class="album">
        <div class="container">
            <h3>Accomodations</h3>
            <div class="row">
            {% for accomodation in accomodations %}
                <div class="col">
                <div class="card card-full">
                                <div class="card-header bg-dark text-white">
                                    <h5> {{ accomodation.accomodation }}</h5>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="material-icons md-92">airline_seat_individual_suite</i>
                                            <blockquote class="blockquote mb-0">
                                                <p><strong>Price: &#8369;{{ accomodation.price }}</strong><br>
                                                <strong>Detail: {{ accomodation.features }}</strong></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                 </div>
                 </div>
            {% endfor %}
            </div>
            {% if booking_offices %}
            <h3>Ticket Outlets</h3>
            <div class="row">
                <div class="list-group result-sked">
                    {% for office in booking_offices %}
                        <a href="javascript:void(0)" coor="{{ office.coor }}" loc="booking" address="{{ office.address }}" phone="{{ office.phone }}" class="location list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">
                                                {{ office.address }}
                                            </h5>
                                        </div>
                                        <p class="mb-1">
                                            Contact: {{ office.phone }}
                                        </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
