{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ asset('plugins/datepicker/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap4.vars.scss') }}" rel="stylesheet">
    <link href="{{ asset('plugins/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap4.after.scss') }}" rel="stylesheet">
{% endblock %}

{% block javascript_file %}
    <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('js/find-sched.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Find ship schedules for your travel</h1>
            <p class="lead text-muted">We can help find vessel trips nearest to your location including alternative destination routes. Also shows distances between location&mdash; You can see prices to compare, shipping company information and more details about the vessel.</p>
                {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.origin, {
                                'attr' : {
                                    'class' : 'form-control'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.destination, {
                                'attr' : {
                                    'class' : 'form-control'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.date, {
                                'attr' : {
                                    'class' : 'form-control form-control-md',
                                    'size'  : 11
                                }
                            }) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg"><i class="material-icons">search</i> Find schedule now</button>
                {{ form_end(form) }}
                <br>
        </div>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">
                {% if schedules %}
                        <div class="col-12" id="schedules">
                            {% for sched in schedules %}
                            <div class="card card-full">
                                <div class="card-header bg-dark text-white">
                                    <span class="vessel-header">{{ sched.vessel }}</span>
                                    <div class="float-right">
                                    <span>FROM {{ sched.depCity }} TO {{ sched.destCity }} | </span>
                                    <span>DEPARTS AT {{ sched.departTime }}</span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <a class="float-left" style="padding-right:20px;" href="{{ path('company', {id:sched.com_id}) }}"><img style="border-radius:50% !important;" src="{{ asset('images/company/'~ sched.com_id ~'.jpg') }}" class="com-logo    "></a>

                                            <strong>DEPARTS:</strong> {{ sched.departPort }} ({{ sched.departTime }})<br>
                                            <strong>ARRIVAL:</strong> {{ sched.arrivePort }} ({% if sched.arriveTime %} {{ sched.arriveTime }} {% else %} Estimated arrival not available {%endif%})
                                            <br>
                                            <strong>VESSEL TYPE:</strong>
                                                {% if sched.vesselType == 'RORO' %}
                                                    <span class="badge badge-pill badge-info">{{ sched.vesselType }}</span>
                                                {% elseif sched.vesselType == 'Fastcraft' %}
                                                    <span class="badge badge-pill badge-warning">{{ sched.vesselType }}</span>
                                                {% else %}
                                                    <span class="badge badge-pill badge-info">{{ sched.vesselType }}</span>
                                                {% endif %}
                                            <br>
                                            <strong>PRICE RANGE:</strong>
                                                    {% if sched.passPriceRange %}
                                                            {% set prices = sched.passPriceRange|split('-')  %}
                                                            &#8369;{{ prices[0]|number_format(2) }} - &#8369;{{ prices[1]|number_format(2) }}
                                                     {% else %}
                                                            &#8369; N/A
                                                     {% endif %}
                                            <br>
                                            <br>
                                            <div>
                                            {% if sched.depPortDistance > 1 or sched.arrPortDistance > 1 %}
                                                <strong>CITY TO PORT DISTANCES</strong>
                                                <br>
                                                {% if sched.depPortDistance > 1 %}
                                                    &nbsp;<i class="material-icons" style="color: #e8126d;">place</i>{{ origin }} to {{ sched.depCity }} ({{ sched.depPortDistance/1000 }} km or {{ sched.depPortDuration }})
                                                {% endif %}

                                                {% if sched.arrPortDistance > 1 %}
                                                    <br>
                                                    &nbsp;<i class="material-icons" style="color: #e8126d;">place</i>{{ sched.destCity }} to {{ destination }} ({{ sched.arrPortDistance/1000 }} km or {{ sched.arrPortDuration }})
                                                {% endif %}
                                            {% endif %}

                                            <span class="float-right">
                                            <a href="{{ path('detail', {'id':sched.id}) }}"><i class="material-icons">info</i>Detail</a>
                                            {% if sched.booksite %}
                                                &nbsp;
                                                <a href="{{ sched.booksite }}" target="_blank"><i class="material-icons">payment</i>Book</a>
                                            {% else %}
                                            {% endif %}
                                            {% if sched.officesUrl %}
                                                &nbsp;
                                                <a href="{{ sched.officesUrl }}" target="_blank"><i class="material-icons">business</i>Outlets</a>
                                            {% else %}
                                            {% endif %}
                                            </span>
                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-2"></div>
                {% else %}
                    <div class="col-12">
                        {% if from_form %}
                            <div class="alert alert-info" role="alert">
                                Sorry but we did not found a vessel for that day. Please try a different date.
                            </div>
                        {% else %}
                            <div class="row">
                            <div class="col">
                                <div class="card card-full">
                                <div class="card-header bg-dark text-white">
                                        Your city/town origin
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="material-icons md-92">pin_drop</i>
                                            <blockquote class="blockquote mb-0">
                                            <p>Search from the list the city or town where you are going to depart.
                                            <br>This is for us to find ports and ship schedules within your area or province.</p>
                                            </blockquote>
                                            <a href="javascript:void(0)" class="btn btn-dark btn-sm" id="scrolldepart">Start search</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                            <div class="card card-full">
                                <div class="card-header bg-dark text-white">
                                    Travelling to city/town
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="material-icons md-92">location_searching</i>
                                            <blockquote class="blockquote mb-0">
                                                <p>Search from the list the city or town where you are going to travel.
                                                <br>This is for us to find ports and ship schedules in that area or province.</p>
                                            </blockquote>
                                            <a href="javascript:void(0)" class="btn btn-dark btn-sm" id="scrolldest">Start search</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col">
                            <div class="card card-full">
                                <div class="card-header bg-dark text-white">
                                    When will be your travel date?
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="material-icons md-92">date_range</i>
                                            <blockquote class="blockquote mb-0">
                                                <p>Choose a date when you are travelling. This will help us find trips scheduled on that day.</p>
                                                <br>
                                                <br>
                                                <br>
                                            </blockquote>
                                            <a href="javascript:void(0)" class="btn btn-dark btn-sm" id="scrolldate">Input date</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
