{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ asset('plugins/datepicker/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap4.vars.scss') }}" rel="stylesheet">
    <link href="{{ asset('plugins/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap4.after.scss') }}" rel="stylesheet">
{% endblock %}

{% block javascript_file %}
    <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('js/find-sched.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Find ship schedules for your travel</h1>
            <p class="lead text-muted">We can help find vessel trips nearest to your location including alternative destination routes&mdash; You can see prices to compare, shipping company information and more details about the vessel.</p>
                {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.origin, {
                                'attr' : {
                                    'class' : 'form-control'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.destination, {
                                'attr' : {
                                    'class' : 'form-control'
                                }
                            }) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.date, {
                                'attr' : {
                                    'class' : 'form-control form-control-md',
                                    'size'  : 11
                                }
                            }) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Find schedule now</button>
                {{ form_end(form) }}
        </div>
    </section>

    <div class="album">
        <div class="container">
            <div class="row">
                {% if schedules %}
                <table class="table table-responsive table-hover">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Shipping Company</th>
                            <th>Vessel</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Vessel Type</th>
                            <th>Ticket Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sched in schedules %}
                            <tr>
                                <td><a href="{{ path('company', { 'id':sched.com_id }) }}">{{ sched.company }}</a></td>
                                <td><strong>{{ sched.vessel }}</strong></td>
                                <td>{{ sched.departPort }} <strong>{{ sched.departTime }}</strong></td>
                                <td>{{ sched.arrivePort }} <strong>{{ sched.arriveTime }}</strong></td>
                                <td>
                                    {% if sched.vesselType == 'RORO' %}
                                        <span class="badge badge-pill badge-warning">{{ sched.vesselType }}</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-info">{{ sched.vesselType }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sched.passPriceRange %}
                                        &#8369;{{ sched.passPriceRange }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('detail', {'id' : sched.id}) }}" class="btn btn-sm btn-primary">Details</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="col-2"></div>
                    <div class="col-8">
                        {% if from_form %}
                            <div class="alert alert-info" role="alert">
                                Sorry but we did not found a vessel for that day. Please try a different date.
                            </div>
                        {% else %}
                            <div class="card card-full">
                                <div class="card-header bg-primary text-white">
                                        Your city/town origin
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Search from the list the city or town where you are currently located.
                                    <br>This is for us to find ports and ship schedules within your area or province.</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="card card-full">
                                <div class="card-header bg-primary text-white">
                                    Travelling to city/town
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Search from the list the city or town where you are going to travel.
                                    <br>This is for us to find ports and ship schedules in that area or province.</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="card card-full">
                                <div class="card-header bg-primary text-white">
                                    When will be your travel date?
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                    <p>Choose a date when you are travelling. This will help us find trips scheduled on that day.</p>
                                    </blockquote>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-2"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
