{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ asset('plugins/datepicker/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript_file %}
    <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('js/find-sched.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="container">
            <div class="layout layout--center sm-ptb1">
                {{ form_start(form) }}
                <div class="layout__item md-12of12 xs-none sm-none sm-inline-block">
                <table>
                    <tr>
                        <td>
                            {{ form_row(form.origin, {
                                'attr' : {
                                    'class' : 'text-input md-12of12 sm-10of12 select-origin'
                                }
                            }) }}
                        </td>
                        <td>
                            {{ form_row(form.destination, {
                                'attr' : {
                                    'class' : 'text-input md-12of12 sm-10of12 select-destination'
                                }
                            }) }}
                        </td>
                        <td>
                            {{ form_row(form.date, {
                                'attr' : {
                                    'class' : 'text-input md-12of12 sm-10of12 input-date',
                                    'size': 18
                                }
                            }) }}
                        </td>
                        <td>
                            <button type="submit" class="button button--primary">Find Now</button>
                        </td>
                    </tr>
                </table>
                </div>
                {{ form_end(form) }}
                {{ form_start(form2) }}
                <div class="layout__item xs-12of12 md-none xs-text-center xs-inline-block xs-ptb1">
                    <div class="xsmall-form">
                            {{ form_row(form2.origin, {
                                'attr' : {
                                    'class' : 'text-input xs-12of12 select-origin'
                                }
                            }) }}
                    </div>
                    <div class="xsmall-form">
                            {{ form_row(form2.destination, {
                                'attr' : {
                                    'class' : 'text-input xs-12of12 select-destination'
                                }
                            }) }}
                    </div>
                    <div class="xsmall-form">
                            {{ form_row(form2.date, {
                                'attr' : {
                                    'class' : 'text-input xs-12of12 input-date'
                                }
                            }) }}
                    </div>
                    <div class="xsmall-form">
                        <button type="submit" class="xs-12of12 button button--primary">Find Now</button>
                    </div>
                </div>
                {{ form_end(form2) }}
            </div>
        </div>
    </div>

    {% if schedules %}
    <div class="box box--white md-block">
        <div class="container">
            <div class="layout layout--center xs-ptb1 sm-ptb2">
                <div class="layout__item xs-pb1 sm-pb2">
                    <h3 class="xs-text-center">Schedules</h3>
                </div>
                <div class="how-it-works layout__item xs-10of12 sm-8of12"><div class="layout layout--center">

                {% for sched in schedules %}
                <div class="layout__item md-ptb1 md-4of12 xs-ptb1 xs-pb1 xs-none sm-inline-block">
                    <img class="md-10of12 sm-float-right circle" data-ui-component="retina-image" data-hidpi-src="{{ asset('images/company/'~ sched.com_id ~'.jpg') }}" src="{{ asset('images/company/'~ sched.com_id ~'.jpg') }}" alt="Location">
                </div>
                <div class="layout__item xs-1of12 md-ptb1 xs-ptb1 xs-text-center">
                    <div class="how-it-works__step"></div>
                    <div class="vertical-line xs-none sm-inline-block"></div>
                </div>
                <div class="layout__item xs-12of12 md-6of12">
                    <div class="layout md-ptb1 xs-ptb1">
                        <div class="layout__item xs-pbh0">
                            <h5 class="xs-text-left">{{ sched.vessel }} {{ sched.departTime }}</h5>
                        </div>
                        <div class="layout__item">
                            <p class="xs-text-left caption-copy">
                            {{ sched.depCity }} TO {{ sched.destCity }}
                            <br>
                                            <strong>DEPARTS:</strong> {{ sched.departPort }} ({{ sched.departTime }})<br>
                                            <strong>ARRIVAL:</strong> {{ sched.arrivePort }} ({% if sched.arriveTime %} {{ sched.arriveTime }} {% else %} N/A {%endif%})
                                            <br>
                                            <strong>VESSEL TYPE:</strong>
                                            <span>{{ sched.vesselType }}</span>
                                            <br>
                                            <strong>PRICE RANGE:</strong>
                                                    {% if sched.passPriceRange %}
                                                            {% set prices = sched.passPriceRange|split('-')  %}
                                                            &#8369;{{ prices[0]|number_format(2) }} - &#8369;{{ prices[1]|number_format(2) }}
                                                     {% else %}
                                                            &#8369; N/A
                                                     {% endif %}
                                            <br>
                                            {% if sched.depPortDistance > 1 or sched.arrPortDistance > 1 %}
                                                <strong>CITY TO PORT DISTANCES</strong>
                                                <br>
                                                {% if sched.depPortDistance > 1 %}
                                                    &nbsp;<i class="material-icons" style="color: #e8126d;">place</i>{{ origin }} to {{ sched.depCity }} ({{ sched.depPortDistance/1000 }} km or {{ sched.depPortDuration }})
                                                {% endif %}

                                                {% if sched.arrPortDistance > 1 %}
                                                    <br>
                                                    &nbsp;<i class="material-icons" style="color: #e8126d;">place</i>{{ sched.destCity }} to {{ destination }} ({{ sched.arrPortDistance/1000 }} km or {{ sched.arrPortDuration }})
                                                {% endif %}
                                            {% endif %}
                                            <br>
                                            <span>
                                            <a href="{{ path('detail', {'id':sched.id}) }}"><i class="material-icons">info</i>Detail</a>
                                            {% if sched.booksite %}
                                                &nbsp;
                                                <a href="{{ sched.booksite }}" target="_blank"><i class="material-icons">payment</i>Book</a>
                                            {% else %}
                                            {% endif %}
                                            {% if sched.officesUrl %}
                                                &nbsp;
                                                <a href="{{ sched.officesUrl }}" target="_blank"><i class="material-icons">business</i>Outlets</a>
                                            {% else %}
                                            {% endif %}
                                            </span>
                           </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>
    </div>
    {% else %}
        {% if from_form %}
        <div class="box box--white md-block">
                <div class="layout layout--center xs-ptb1 sm-ptb1">
                    <p class="xs-text-center caption-copy">
                        Sorry we did not found schedules from your search. Please try another search.
                    </p>
                </div>
        </div>
        {% endif %}
        {% include 'default/sections/howto.html.twig' %}
    {% endif %}

{% endblock %}
