{% extends 'base.html.twig' %}

{% block css %}
    <link href="{{ asset('plugins/datepicker/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/select2-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript_file %}
    <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('js/find-sched.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="container">
            <div class="layout layout--center sm-ptb1">
                {{ form_start(form) }}
                <div class="layout__item md-12of12 sm-none sm-inline-block xs-none">
                <table>
                    <tr>
                        <td>
                            {{ form_row(form.origin, {
                                'attr' : {
                                    'class' : 'text-input md-12of12 sm-10of12 select-origin'
                                }
                            }) }}
                        </td>
                        <td>
                            {{ form_row(form.destination, {
                                'attr' : {
                                    'class' : 'text-input md-12of12 sm-10of12 select-destination'
                                }
                            }) }}
                        </td>
                        <td>
                            {{ form_row(form.date, {
                                'attr' : {
                                    'class' : 'text-input md-12of12 sm-10of12 input-date',
                                    'size': 18
                                }
                            }) }}
                        </td>
                        <td>
                            <button type="submit" class="button button--primary">Find Now</button>
                        </td>
                    </tr>
                </table>
                </div>
                {{ form_end(form) }}
                {{ form_start(form2) }}
                <div class="layout__item xs-12of12 md-none xs-text-center xs-inline-block xs-ptb1">
                    <div class="xsmall-form">
                            {{ form_row(form2.origin, {
                                'attr' : {
                                    'class' : 'text-input xs-12of12 select-origin'
                                }
                            }) }}
                    </div>
                    <div class="xsmall-form">
                            {{ form_row(form2.destination, {
                                'attr' : {
                                    'class' : 'text-input xs-12of12 select-destination'
                                }
                            }) }}
                    </div>
                    <div class="xsmall-form">
                            {{ form_row(form2.date, {
                                'attr' : {
                                    'class' : 'text-input xs-12of12 input-date'
                                }
                            }) }}
                    </div>
                    <div class="xsmall-form">
                        <button type="submit" class="xs-12of12 button button--primary">Find Now</button>
                    </div>
                </div>
                {{ form_end(form2) }}
            </div>
        </div>
    </div>


<div class="box">
    <br>
    <div class="container xs-pb3">
        <div class="layout__item sm-inline-block xs-pl0 sm-3of12 sm-pr1">
            <div class="box box--white-light xs-b1 border--white-light xs-prlh1 xs-ptb2">
                <div class="layout layout--center">
                    {% include 'default/sections/left_menu.html.twig' %}
                </div>
            </div>

        </div><div class="box--white-light xs-b1 border--white-light layout__item sm-9of12 xs-ph1">
            <div class="layout">
                <div class="layout__item xs-pb1 layout--center">
                    <h1 class="xs-gamma" style="text-transform: capitalize">Ship Schedules</h1>
                </div>
            </div>
            <div class="layout">
                <div class="layout__item">
                    <div class="layout">
                {% if schedules %}
                {% for sched in schedules %}
                        <a href="{{ path('detail', {'id':sched.id}) }}">
                            <div class="layout__item">
                                <div class="company-jobs-listing xs-mth0 xs-ptbh0">
                                    <div class="layout layout--center sm-ml0">
                                        <div class="layout__item xs-6of12 sm-2of12">
                                            <div class="layout__item xs-inseth1 xs-ph0 xs-b1 border--white-light">
                                                <img alt="Shipping Company" data-ui-component="retina-image" data-hidpi-src="{{ asset('images/company/'~ sched.com_id ~'.jpg') }}" src="{{ asset('images/company/'~ sched.com_id ~'.jpg') }}"> 
                                            </div>
                                        </div><div class="layout__item sm-10of12">
                                            <div class="layout">
                                                <div class="layout__item xs-pbh0 xs-pt1 sm-pt0">
                                                    <h4 class="xs-delta xs-text-center sm-text-left">
                                                        {{ sched.vessel }} {{ sched.departTime }}
                                                    </h4>
                            <p class="xs-text-left text-black caption-copy">
                            {{ sched.depCity }} TO {{ sched.destCity }}
                            <br>
                                            <strong>DEPARTS:</strong> {{ sched.departPort }} ({{ sched.departTime }})<br>
                                            <strong>ARRIVAL:</strong> {{ sched.arrivePort }} ({% if sched.arriveTime %} {{ sched.arriveTime }} {% else %} N/A {%endif%})
                                            <br>
                                            <strong>VESSEL TYPE:</strong>
                                            <span>{{ sched.vesselType }}</span>
                                            <br>
                                            <strong>PRICE RANGE:</strong>
                                                    {% if sched.passPriceRange %}
                                                            {% set prices = sched.passPriceRange|split('-')  %}
                                                            &#8369;{{ prices[0]|number_format(2) }} - &#8369;{{ prices[1]|number_format(2) }}
                                                     {% else %}
                                                            &#8369; N/A
                                                     {% endif %}
                                            <br>
                                            {% if sched.depPortDistance > 1 or sched.arrPortDistance > 1 %}
                                                <strong>CITY TO PORT DISTANCES</strong>
                                                <br>
                                                {% if sched.depPortDistance > 1 %}
                                                    &nbsp;<i class="material-icons" style="color: #e8126d;">place</i>{{ origin }} to {{ sched.depCity }} ({{ sched.depPortDistance/1000 }} km or {{ sched.depPortDuration }})
                                                {% endif %}

                                                {% if sched.arrPortDistance > 1 %}
                                                    <br>
                                                    &nbsp;<i class="material-icons" style="color: #e8126d;">place</i>{{ sched.destCity }} to {{ destination }} ({{ sched.arrPortDistance/1000 }} km or {{ sched.arrPortDuration }})
                                                {% endif %}
                                            {% endif %}
                           </p>
                                                </div>
                                                <div class="layout__item xs-text-center sm-text-left xs-epsilon">
                                                    <span class="sm-br1 sm-pr1 xs-block sm-inline-block">
                                                        <object><a href="{{ path('bookings') }}"><i class="material-icons">send</i> Book Now</a></object>
                                                    </span>
                                                    <span class="xs-pl1">
                                                        <object><a href=""><i class="material-icons">bookmark_border</i>Save</a></object>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="text-grey">
                        </a>
                {% endfor %}
                {% else %}
                    <p class="xs-text-center caption-copy">
                    {% if from_form %}
                        Sorry we did not found schedules from your search. Please try another search.
                    {% else %}
                        Start your search now! Use the form above to start your search.
                    {% endif %}
                    </p>
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% if not schedules %}
        {% include 'default/sections/howto.html.twig' %}
    {% endif %}

{% endblock %}
