<div class="box box--white md-block">
<div class="container">
<div class="layout layout--center xs-ptb2 sm-ptb5">
<div class="layout__item xs-pb1 sm-pb2"><h2 class="xs-text-center">How it works</h2></div><div class="how-it-works layout__item xs-10of12 sm-8of12"><div class="layout layout--center">
<div class="layout__item md-5of12 xs-pb1 xs-none sm-inline-block"><img class="md-10of12 sm-float-right" data-ui-component="retina-image" data-hidpi-src="{{ asset('images/howto1.png') }}" src="{{ asset('images/howto1.png') }}" alt="Location"></div><div class="layout__item xs-1of12 xs-text-center"><div class="how-it-works__step"></div>
<div class="vertical-line xs-none sm-inline-block"></div></div><div class="layout__item xs-11of12 md-5of12"><div class="layout">
<div class="layout__item xs-pbh0"><h5 class="xs-text-left">Search current location.</h5></div><div class="layout__item"><p class="xs-text-left caption-copy">
Search from the list the city or town where you are located.
This is for us to find ports and ship schedules within your city or province.
</p></div></div></div></div>
<div class="layout layout--center xs-ptb2 sm-ptb0">
<div class="layout__item xs-1of12 xs-inline-block sm-none"><div class="how-it-works__step"></div></div><div class="layout__item xs-11of12 md-5of12"><div class="layout">
<div class="layout__item xs-pbh0"><h5 class="sm-text-right">Search destination.</h5></div><div class="layout__item"><p class="sm-text-right caption-copy">
Search from the list the city or town where your travel destination is.
This is for us to find ports and ship schedules in that city or province.
</p></div></div></div><div class="layout__item md-1of12 xs-none sm-inline-block"><div class="how-it-works__step"></div>
<div class="vertical-line"></div></div><div class="layout__item md-5of12 xs-none sm-inline-block"><img class="md-9of12 xs-prh0" data-ui-component="retina-image" data-hidpi-src="{{ asset('images/howto2.png') }}" src="{{ asset('images/howto2.png') }}" alt="Destination"></div></div>
<div class="layout layout--center">
<div class="layout__item md-5of12 xs-none sm-inline-block xs-text-right"><img class="md-9of12 float-right" data-ui-component="retina-image" data-hidpi-src="{{ asset('images/howto3.png') }}" src="{{ asset('images/howto3.png') }}" alt="Date"></div><div class="layout__item xs-1of12"><div class="how-it-works__step"></div>
<div class="vertical-line xs-none sm-inline-block xs-ml1"></div></div><div class="layout__item xs-11of12 md-5of12 xs-pb2"><div class="layout">
<div class="layout__item xs-pbh0"><h5 class="sm-text-left">Choose travel date.</h5></div><div class="layout__item"><p class="sm-text-left caption-copy">
Choose a date when you are travelling. This will help us find trips scheduled on that day.
</p></div></div></div></div>
<div class="layout layout--center">
<div class="layout__item xs-1of12 xs-inline-block sm-none"><div class="how-it-works__step"></div></div><div class="layout__item xs-11of12 md-5of12"><div class="layout layout--center">
<div class="layout__item xs-pbh0"><h5 class="xs-text-left sm-text-right">Start your search.</h5></div><div class="layout__item"><p class="xs-text-left sm-text-right caption-copy">Hit the search button and find the best schedule for your travel. Save or book your desired ship schedule.</p></div></div></div><div class="layout__item md-1of12 xs-none sm-inline-block"><div class="how-it-works__step"></div></div><div class="layout__item md-5of12 xs-none sm-inline-block"><img class="md-11of12 xs-prh0" data-ui-component="retina-image" data-hidpi-src="{{ asset('images/howto4.png') }}" src="{{ asset('images/howto4.png') }}" alt="Search"></div></div></div></div>
</div>
</div>
