<div class="layout xs-ptb3 box--white-light xs-none md-block">
<div class="layout__item xs-pb1"><p class="list--header xs-text-center">Shipping companies with schedules</p></div><div class="layout__item"><div class="cro-hero xs-none md-block md-pth0">
<div class="cro-hero--container container xs-text-center xs-mb1 company_container">
<div class="home-hero-callout-background company_body">
<div id="cro-company-logos__images">
<ul class="block-list xs-text-center xs-ptb0">
    <li class="sm-4of12 md-2of12 xs-mb1 xs-inline-block"><img alt="Shipping - Roble" class="shipping-logo" src="{{ asset('images/com_logo/1.jpg') }}" width="60%"></li>
    <li class="sm-4of12 md-2of12 xs-mb1 xs-inline-block"><img alt="Shipping - Oceanjet" class="shipping-logo" src="{{ asset('images/com_logo/2.jpg') }}" width="60%"></li>
    <li class="sm-4of12 md-2of12 xs-mb1 xs-inline-block"><img alt="Shipping - 2Go Travels" class="shipping-logo" src="{{ asset('images/com_logo/3.jpg') }}" width="60%"></li>
    <li class="sm-4of12 md-2of12 xs-mb1 xs-inline-block"><img alt="Shipping - FastCat" class="shipping-logo" src="{{ asset('images/com_logo/4.png') }}" width="60%"></li>
    <li class="sm-4of12 md-2of12 xs-mb1 xs-inline-block"><img alt="Shipping - Cokaliong" class="shipping-logo" src="{{ asset('images/com_logo/5.jpg') }}" width="60%"></li>
</ul>
</div>
</div>
</div>
</div></div></div>
</div>
